{% extends 'base.html.twig' %}

{% block title %} View all post {% endblock %}

{% block body %}
<div class="container-fluid">
		<div class="row">
			<div class="col-sm-8">
				<div>
					<a class="btn btn-primary" href="{{ path('create_posts_route') }}">
						+ Create Post
					</a>
				</div>
				<h1>View All Posts</h1>
			</div>
		</div>
		<table class = "table table-hover">
			<thead>
			    <tr>
			      <th scope = "col">
			      	<font style = "alignement vertical: inherit;">
			      		<font style = "alignement vertical: inherit;"> 
			      			ID
			      		</font> 
			      	</font> 
			      </th>
			      <th scope = "col"> 
			      	<font style = "vertical-align: inherit;"> 
			      		<font style = "vertical-align: inherit;"> 
			      			Title
			      		</font> 
			      	</font> 
			      </th >
			      <th scope = "col"> 
			      	<font style = "vertical-align: inherit;"> 
			      		<font style = "vertical-align: inherit;"> 
			      			Description 
			      		</font> 
			      	</font> 
			      </th >
			      <th scope = "col"> 
			      	<font style = "vertical-align: inherit;"> 
			      		<font style = "vertical-align: inherit;"> 
			      			Category
			      		</font> 
			      	</font> 
			      </th >
			       <th scope = "col"> 
			      	<font style = "vertical-align: inherit;"> 
			      		<font style = "vertical-align: inherit;"> 
			      			Action
			      		</font> 
			      	</font> 
			      </th >
			    </tr>

		  	</thead>
		  	<tbody>
		  		{% for post in posts %}
		    	<tr class = "table-active">
			      <th scope = "row"> 
			      	<font style = "alignement vertical: inherit;"> 
			      		<font style = "alignement vertical: inherit;"> 
			      			{{ post.id }} 
			      		</font> 
			      	</font> 
			      </th>
			      <td> 
			      	<font style = "vertical-align: inherit;"> 
			      		<font style = "vertical-align: inherit;"> 
			      			{{ post.title }} 
			      		</font> 
			      	</font> 
			      </td>
			      <td> 
			      	<font style = "vertical-align: inherit;"> 
			      		<font style = "vertical-align: inherit;"> 
			      			{{ post.description }}
			      		</font> 
			      	</font> 
			      </td>
			      <td> 
			      	<font style = "vertical-align: inherit;"> 
			      		<font style = "vertical-align: inherit;"> 
			      			{{ post.category }}
			      		</font> 
			      	</font> 
			      </td>
	              <td> 
			      	<font style = "vertical-align: inherit;"> 
			      		<font style = "vertical-align: inherit;"> 
			      			<a href="{{ path('view_posts_route', {id: post.id}) }}" 
			      			   class="btn btn-primary btn-xs">View</a>
			      			<a href="{{ path('edit_posts_route', {id: post.id}) }}" 
			      			   class="btn btn-success btn-xs">Edit</a>
			      			<a href="{{ path('delete_posts_route', {id: post.id}) }}" class="btn btn-danger btn-xs">Delete</a>
			      		</font> 
			      	</font> 
			      </td>
			    </tr>
			{% else %}
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td>
						<font style = "vertical-align: inherit;"> 
			      			<font style = "vertical-align: inherit;"> 
								<div class="row">
									<div class="col-sm-8">
										No Records Found !
									</div>
								</div>
							</font>
						</font>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>

{% endblock %}